* {
    font-family: 'Mina', sans-serif;

}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(240, 115, 115)
    /* display: grid;
    grid-template-columns: 75% 25%; */
    /* grid-template-rows: 10vw 30vw 10vw; */
    /* grid-gap: 1em;
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0; */
}

header {
    /* grid-column: 1 / span 2; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    order: 1;
    
}

h1 {
    margin-left: 10px;
    
    /* justify-content: center; */
}

form {
    display: flex;
    justify-content: center;
    order: 2;
}

input {
    justify-content: center;
}

.results {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
    order: 3;
}

.band-info {
    padding: 10px;
    width: 35%;
    background-color: rgba(177, 162, 124, 0.632)
}

.news-info {
    padding: 10px;
    width: 35%;
    background-color: rgba(111, 165, 165, 0.639)
}

div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* font-size: 10px; */
}

h2 {
    font-size: 30px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.set-list {
    
}

.song {
    margin-top: 1px;
    margin-bottom: 1px; 
}

.headline {

}

.para {

}

@media screen and (max-width: 414px) {
    form {
        justify-content: space-around; 
        padding: 1px;
    }
    input {
        justify-content: center;
    }

    div {
        font-size: 2em;
    }
} 