header, .band-info {
    font-family: 'Mina', sans-serif;

}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: #c8c2ae*/
    background-image: linear-gradient(#473198, #9BF3F0, #473198);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    max-height: 100%;
}

header {
    /* grid-column: 1 / span 2; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    order: 1;
    
}

h1 {
    margin-left: 10px;
    /* color: white; */
    
    /* justify-content: center; */
}

.button, .refresh {
    background-color: #ADFC92;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover, .refresh:hover {
    background-color: #ADFC92;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.news-h1 {
    font-family: 'Merriweather', serif;
    font-style: italic;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    order: 2;
}

input {
    margin: 3px;
    justify-content: center;
    border-radius: 8px;
    outline: none;
}

.results {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
    order: 3;
}

.band-name {
    
}

.band-info {
    align-items: flex-start;
    padding: 10px;
    width: 35%;  
    /* background-color: rgba(177, 162, 124, 0.632) */
}

/* .band-img {
    width: 35%;
} */

.news-info {
    /* color: #34E4EA; */
    align-items: flex-start;
    font-family: 'Merriweather', serif;
    padding: 10px;
    width: 35%;
    /* background-color: rgba(111, 165, 165, 0.639) */
}

.band-img, .news-img {
    
    -webkit-filter: blur(4px);
    filter: blur(2px);
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.headline {
    /* color: #0EB1D2 */
}

.band-div {
    padding: 10px;
    /* background-image: url("./images/Marquee_theatre_f8d7c5cd-989c-4674-b0fe-67ddc81245bf.jpg"); */
    background-image: linear-gradient(red, yellow 100px);
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* color: white; */
    /* font-size: 10px; */
}

.news-div {
    padding: 10px;
    border-radius: 8px;
    background-image: url("./nyc_skylin_bw.0.jpg");
    background-image: linear-gradient(red, yellow 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* color: white; */
}

h2 {
    font-size: 30px;
}

p {
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

a {
    color: black;
}

.song {
    margin-top: 1px;
    margin-bottom: 1px; 
}

.headline {

}

.para {

}

@media screen and (max-width: 415px) and (min-width: 320px) {
    .results {
        display: flex;
        flex-flow: column;
    }

    h2 {
        font-size: 15px;
    }
    
    p {
        font-size: 10px;
    }

    .band-info, .news-info {
        width: 90%;
    }
}